body{
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 40vh;
    height: 10vh;
}