body{
    user-select: none;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/arquivos/background/bg_dia.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#btn_secao{
    display: flex;
    flex-direction: column;
}

button{
    width: 40vh;
    height: 10vh;

    margin-bottom: 1.5vh;
    margin-top: 1.5vh;

    border: 0.6vh black solid;
    
    font-size: 5vh;
}

button:hover{
    background-color: rgb(255, 255, 255);
}